<h1>About Page</h1>

<h2><%= @title %></h2>
<p><%= @content %></p>
<br />
<%= image_tag("movies.jpg", :alt => "Movies", class: "img-responsive center-block") %>

<br />

<p>This page is under construction</p>
<br />
<br />
<br />
<br />

<p>Ruby on Rails Exercise - Student: Peter Purfield, C15723545</p>