<h1>Welcome to our Movie Blog Site</h1>
<hr />
<h3><%= link_to "These are the Movies we love", movies_path %></h3>

<%= image_tag("free-movie.png", :alt => "Free-Movies", class: "img-responsive center-block") %>

<p>Find me in app/views/pages/home.html.erb</p>

< <%=  link_to "Register Here", new_user_path %> >