<h2>Welcome to our Movie Blog Site</h2>
<hr />
<h4><%= link_to "These are the Movies we love >>>>", movies_path %></h4>

<%= image_tag("free-movie.png", :alt => "Free-Movies", class: "img-responsive center-block") %>

<p>Ruby on Rails Exercise - Student: Peter Purfield, C15723545</p>

< <%=  link_to "Register Here", new_user_path %> >