<h1>Welcome to our Movie Blog Site</h1>


<h2><%= link_to "These are the Movies we love", movies_path %></h2>



<h2><%=  link_to "Register", new_user_path %></h2>

<p>Find me in app/views/pages/home.html.erb</p>
